#root {
  margin: 0 auto;
  padding: 2rem;
  
}

.landingBox {
  height: 600px;
  width: 100%;
  background-image: url('./assets/RUAvyiM0.jpeg');
  background-size: cover;
  background-position-y: 30%
}